#####################################################################
#   print_start macro
#####################################################################

[gcode_macro PRINT_START]
gcode:
  # This part fetches data from your slicer. Such as bed temp, extruder temp, chamber temp and size of your printer.
  {% set target_bed = params.BED|int %}
  {% set target_extruder = params.EXTRUDER|int %}
  {% set target_chamber = params.CHAMBER|default("40")|int %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}

  # Homes the printer, sets absolute positioning and updates the Stealthburner leds.
  STATUS_HOMING         # Sets SB-leds to homing-mode
  G28                   # Full home (XYZ)
  G90                   # Absolut position

  ##  Uncomment for bed mesh (1 of 2)
  #BED_MESH_CLEAR       # Clears old saved bed mesh (if any)


    ##  Uncomment if you have a Nevermore.
    #SET_PIN PIN=nevermore VALUE=1                      # Turns on the nevermore

    G1 X{x_wait} Y{y_wait} Z15 F9000                    # Goes to center of the bed
    M190 S{target_bed}                                  # Sets the target temp for the bed
#    SET_DISPLAY_TEXT MSG="Heatsoak: {target_chamber}c"  # Displays info
#    TEMPERATURE_WAIT SENSOR="temperature_sensor chamber" MINIMUM={target_chamber}   # Waits for chamber to reach desired temp

  # Heating nozzle to 150 degrees. This helps with getting a correct Z-home
  SET_DISPLAY_TEXT MSG="Hotend: 150c"          # Displays info
  M109 S150                                    # Heats the nozzle to 150c

  #  Uncomment for V2 (Quad gantry level AKA QGL)
  SET_DISPLAY_TEXT MSG="QGL"      # Displays info
  STATUS_LEVELING                 # Sets SB-leds to leveling-mode
  quad_gantry_level               # Levels the buildplate via QGL
  G28 Z                           # Homes Z again after QGL

  ##  Uncomment for bed mesh (2 of 2)
  #SET_DISPLAY_TEXT MSG="Bed mesh"    # Displays info
  #STATUS_MESHING                     # Sets SB-leds to bed mesh-mode
  #bed_mesh_calibrate                 # Starts bed mesh

  # Heats up the nozzle up to target via data from slicer
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"             # Displays info
  STATUS_HEATING                                                # Sets SB-leds to heating-mode
  G1 X{x_wait} Y{y_wait} Z15 F9000                              # Goes to center of the bed
  M107                                                          # Turns off partcooling fan
  M109 S{target_extruder}                                       # Heats the nozzle to printing temp

  # Gets ready to print by doing a purge line and updating the SB-leds
  SET_DISPLAY_TEXT MSG="Printer goes brr"          # Displays info
  STATUS_PRINTING                                  # Sets SB-leds to printing-mode
  G0 X{x_wait - 50} Y14 F10000                      # Moves to starting point
  G0 Z0.4                                          # Raises Z to 0.4
  G91                                              # Incremental positioning 
  G1 X100 E20 F1000                                # Purge line
  G90                                              # Absolut position


#####################################################################
#   Bed Mesh
#####################################################################
[bed_mesh]
speed: 300
horizontal_move_z: 10
##--------------------------------------------------------------------
mesh_min: 40, 40
mesh_max: 140,140
zero_reference_position: 90,90 #for use with stock z endstop
##--------------------------------------------------------------------
fade_start: 0.6
fade_end: 10.0
probe_count: 5,5 # Values should be odd, so one point is directly at bed center
algorithm: bicubic

#####################################################################
#   Filament Handling
#####################################################################
[gcode_macro FILAMENT_LOAD]
gcode:
   M83                   # Put the extruder into relative mode
   G92 E0.0              # Reset the extruder so that it thinks it is at position zero
   G1 E120 F500          # Move the extruder forward 120mm at a speed of 350mm/minute
   G92 E0.0              # Reset the extruder again
   M82                   # Put the extruder back into absolute mode.

[gcode_macro FILAMENT_UNLOAD]
gcode:
   M83                   # Put the extruder into relative mode
   G92 E0.0              # Reset the extruder so that it thinks it is at position zero
   G1 E-120 F500          # Move the extruder forward 120mm at a speed of 350mm/minute
   G92 E0.0              # Reset the extruder again
   M82                   # Put the extruder back into absolute mode.

 #####################################################################
# 	OLDER / INTERNAL MACROS
#####################################################################

#[gcode_macro PRINT_START]
#   Use PRINT_START for the slicer starting script - please customize for your slicer of choice
#gcode:
#    G28                            ; home all axes
#    G90                            ; absolute positioning    
#    G1 Z20 F3000                   ; move nozzle away from bed
#    LINE_PURGE                    ; disabled until I figure out hotend temp bit
   
[gcode_macro PRINT_END]
#   Use PRINT_END for the slicer ending script - please customize for your slicer of choice
gcode:
    M400                           ; wait for buffer to clear
    G92 E0                         ; zero the extruder
    G1 E-4.0 F3600                 ; retract filament
    G91                            ; relative positioning

    #   Get Boundaries
    {% set max_x = printer.configfile.config["stepper_x"]["position_max"]|float %}
    {% set max_y = printer.configfile.config["stepper_y"]["position_max"]|float %}
    {% set max_z = printer.configfile.config["stepper_z"]["position_max"]|float %}

    #   Check end position to determine safe direction to move
    {% if printer.toolhead.position.x < (max_x - 20) %}
        {% set x_safe = 20.0 %}
    {% else %}
        {% set x_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.y < (max_y - 20) %}
        {% set y_safe = 20.0 %}
    {% else %}
        {% set y_safe = -20.0 %}
    {% endif %}

    {% if printer.toolhead.position.z < (max_z - 2) %}
        {% set z_safe = 2.0 %}
    {% else %}
        {% set z_safe = max_z - printer.toolhead.position.z %}
    {% endif %}

    G0 Z{z_safe} F3600             ; move nozzle up
    G0 X{x_safe} Y{y_safe} F20000  ; move nozzle to remove stringing
    TURN_OFF_HEATERS
    M107                           ; turn off fan
    G90                            ; absolute positioning
    G0 X60 Y{max_y-10} F3600          ; park nozzle at rear
    STATUS_READY
  
#[gcode_macro LOAD_FILAMENT]
#gcode:
#   M83                            ; set extruder to relative
#   G1 E30 F300                    ; load
#   G1 E15 F150                    ; prime nozzle with filament
#   M82                            ; set extruder to absolute
    
#[gcode_macro UNLOAD_FILAMENT]
#gcode:
#   M83                            ; set extruder to relative
#   G1 E10 F300                    ; extrude a little to soften tip
#   G1 E-40 F1800                  ; retract some, but not too much or it will jam
#   M82                            ; set extruder to absolute

#[homing_override]
#axes: xyz
#gcode:
#  {% set home_all = 'X' not in params and 'Y' not in params and 'Z' not in params %}

#  {% if home_all or 'X' in params %}
#    _HOME_X
#  {% endif %}
  
#  {% if home_all or 'Y' in params %}
#    _HOME_Y
#  {% endif %}
  
#  {% if home_all or 'Z' in params %}
#    G28 Z
#    G1 Z10
#  {% endif %}
